modules/testsuite/shared-tests/src/test/resources/jaxrpc/samples/message/WEB-INF/wsdl/MessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='MessageService' targetNamespace='http://org.jboss.ws/samples/message' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.ws/samples/message/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws/samples/message' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.ws/samples/message/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.ws/samples/message/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <element name='Order' type='anyType'/>
   <element name='Response' type='anyType'/>
  </schema>
 </types>
 <message name='MessageTestService_processElement' xmlns='http://schemas.xmlsoap.org/wsdl/'>
  <part element='ns1:Order' name='Order'/>
 </message>
 <message name='MessageTestService_processElementResponse'>
  <part element='ns1:Response' name='Response'/>
 </message>
 <portType name='MessageTestService'>
  <operation name='processElement' parameterOrder='Order'>
   <input message='tns:MessageTestService_processElement'/>
   <output message='tns:MessageTestService_processElementResponse'/>
  </operation>
 </portType>
 <binding name='MessageTestServiceBinding' type='tns:MessageTestService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='processElement'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='MessageService'>
  <port binding='tns:MessageTestServiceBinding' name='MessageTestServicePort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>