modules/testsuite/cxf-tests/src/test/resources/jaxws/cxf/jbws3655/META-INF/wsdl/GoodBy_schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://goodby/test"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           targetNamespace="http://goodby/test" version="1.0">
    <xs:element name="doGoodBy" type="tns:doGoodBy"/>
    <xs:element name="doGoodByResponse" type="tns:doGoodByResponse"/>
    <xs:complexType name="doGoodBy">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tns:goodByRequest"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="goodByRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="goodBy" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="doGoodByResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:goodByResponse"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="goodByResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="multiGoodBy" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>