modules/testsuite/shared-tests/src/test/resources/jaxrpc/samples/oneway/WEB-INF/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='TestService' targetNamespace='http://org.jboss.ws/samples/oneway' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.ws/samples/one-way=/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws/samples/oneway' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types/>
 <message name='OneWayTestService_noOneWay'>
  <part name='String_1' type='xsd:string'/>
 </message>
 <message name='OneWayTestService_noOneWayResponse'/>
 <message name='OneWayTestService_oneWay'>
  <part name='String_1' type='xsd:string'/>
 </message>
 <portType name='OneWayTestService'>
  <operation name='noOneWay' parameterOrder='String_1'>
   <input message='tns:OneWayTestService_noOneWay'/>
   <output message='tns:OneWayTestService_noOneWayResponse'/>
  </operation>
  <operation name='oneWay'>
   <input message='tns:OneWayTestService_oneWay'/>
  </operation>
 </portType>
 <binding name='OneWayTestServiceBinding' type='tns:OneWayTestService'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='noOneWay'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/samples/oneway' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/samples/oneway' use='literal'/>
   </output>
  </operation>
  <operation name='oneWay'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/samples/oneway' use='literal'/>
   </input>
  </operation>
 </binding>
 <service name='TestService'>
  <port binding='tns:OneWayTestServiceBinding' name='OneWayTestServicePort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>