modules/testsuite/shared-tests/src/test/resources/jaxrpc/samples/jsr109pojo/doclit/WEB-INF/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='TestService' targetNamespace='http://org.jboss.ws/samples/jsr109pojo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.ws/samples/jsr109pojo/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws/samples/jsr109pojo' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.ws/samples/jsr109pojo/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.ws/samples/jsr109pojo/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='SimpleUserType'>
    <sequence>
     <element name='a' type='int'/>
     <element name='b' type='int'/>
    </sequence>
   </complexType>
   <complexType name='echoSimpleUserType'>
    <sequence>
     <element name='String_1' nillable='true' type='string'/>
     <element name='SimpleUserType_2' nillable='true' type='tns:SimpleUserType'/>
    </sequence>
   </complexType>
   <complexType name='echoSimpleUserTypeResponse'>
    <sequence>
     <element name='result' nillable='true' type='tns:SimpleUserType'/>
    </sequence>
   </complexType>
   <complexType name='echoString'>
    <sequence>
     <element name='String_1' nillable='true' type='string'/>
     <element name='String_2' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='echoStringResponse'>
    <sequence>
     <element name='result' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <element name='echoSimpleUserType' type='tns:echoSimpleUserType'/>
   <element name='echoSimpleUserTypeResponse' type='tns:echoSimpleUserTypeResponse'/>
   <element name='echoString' type='tns:echoString'/>
   <element name='echoStringResponse' type='tns:echoStringResponse'/>
  </schema>
 </types>
 <message name='JaxRpcTestService_echoSimpleUserType' xmlns='http://schemas.xmlsoap.org/wsdl/'>
  <part element='ns1:echoSimpleUserType' name='echoSimpleUserType'/>
 </message>
 <message name='JaxRpcTestService_echoSimpleUserTypeResponse'>
  <part element='ns1:echoSimpleUserTypeResponse' name='echoSimpleUserTypeResponse'/>
 </message>
 <message name='JaxRpcTestService_echoString'>
  <part element='ns1:echoString' name='echoString'/>
 </message>
 <message name='JaxRpcTestService_echoStringResponse'>
  <part element='ns1:echoStringResponse' name='echoStringResponse'/>
 </message>
 <portType name='JaxRpcTestService'>
  <operation name='echoSimpleUserType' parameterOrder='echoSimpleUserType'>
   <input message='tns:JaxRpcTestService_echoSimpleUserType'/>
   <output message='tns:JaxRpcTestService_echoSimpleUserTypeResponse'/>
  </operation>
  <operation name='echoString' parameterOrder='echoString'>
   <input message='tns:JaxRpcTestService_echoString'/>
   <output message='tns:JaxRpcTestService_echoStringResponse'/>
  </operation>
 </portType>
 <binding name='JaxRpcTestServiceBinding' type='tns:JaxRpcTestService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echoSimpleUserType'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='echoString'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='TestService'>
  <port binding='tns:JaxRpcTestServiceBinding' name='JaxRpcTestServicePort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>