modules/testsuite/shared-tests/src/test/resources/jaxrpc/samples/swa/WEB-INF/wsdl/Attachment.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="Attachment" targetNamespace="http://org.jboss.ws/samples/swa"
  xmlns:tns="http://org.jboss.ws/samples/swa" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <types/>

  <message name="Attachment_sendMimeImageGIF">
    <part name="message" type="xsd:string"/>
    <part name="mimepart" type="xsd:hexBinary"/>
  </message>
  <message name="Attachment_sendMimeImageGIFResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="Attachment_sendMimeImageJPEG">
    <part name="message" type="xsd:string"/>
    <part name="mimepart" type="xsd:hexBinary"/>
  </message>
  <message name="Attachment_sendMimeImageJPEGResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="Attachment_sendMimeTextPlain">
    <part name="message" type="xsd:string"/>
    <part name="mimepart" type="xsd:hexBinary"/>
  </message>
  <message name="Attachment_sendMimeTextPlainResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="Attachment_sendMimeMultipart">
    <part name="message" type="xsd:string"/>
    <part name="mimepart" type="xsd:hexBinary"/>
  </message>
  <message name="Attachment_sendMimeMultipartResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="Attachment_sendMimeTextXML">
    <part name="message" type="xsd:string"/>
    <part name="mimepart" type="xsd:hexBinary"/>
  </message>
  <message name="Attachment_sendMimeTextXMLResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="Attachment_sendMimeApplicationXML">
    <part name="message" type="xsd:string"/>
    <part name="mimepart" type="xsd:hexBinary"/>
  </message>
  <message name="Attachment_sendMimeApplicationXMLResponse">
    <part name="result" type="xsd:string"/>
  </message>

  <portType name="Attachment">
    <operation name="sendMimeImageGIF">
      <input message="tns:Attachment_sendMimeImageGIF"/>
      <output message="tns:Attachment_sendMimeImageGIFResponse"/>
    </operation>
    <operation name="sendMimeImageJPEG">
      <input message="tns:Attachment_sendMimeImageJPEG"/>
      <output message="tns:Attachment_sendMimeImageJPEGResponse"/>
    </operation>
    <operation name="sendMimeTextPlain">
      <input message="tns:Attachment_sendMimeTextPlain"/>
      <output message="tns:Attachment_sendMimeTextPlainResponse"/>
    </operation>
    <operation name="sendMimeMultipart">
      <input message="tns:Attachment_sendMimeMultipart"/>
      <output message="tns:Attachment_sendMimeMultipartResponse"/>
    </operation>
    <operation name="sendMimeTextXML">
      <input message="tns:Attachment_sendMimeTextXML"/>
      <output message="tns:Attachment_sendMimeTextXMLResponse"/>
    </operation>
    <operation name="sendMimeApplicationXML">
      <input message="tns:Attachment_sendMimeApplicationXML"/>
      <output message="tns:Attachment_sendMimeApplicationXMLResponse"/>
    </operation>
  </portType>

  <binding name="AttachmentBinding" type="tns:Attachment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="sendMimeImageGIF">
      <soap:operation soapAction=""/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body part="message" use="literal" namespace="http://org.jboss.ws/samples/swa"/>
          </mime:part>
          <mime:part>
            <mime:content part="mimepart" type="image/gif"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/samples/swa"/>
      </output>
    </operation>
    <operation name="sendMimeImageJPEG">
      <soap:operation soapAction=""/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body part="message" use="literal" namespace="http://org.jboss.ws/samples/swa"/>
          </mime:part>
          <mime:part>
            <mime:content part="mimepart" type="image/jpeg"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/samples/swa"/>
      </output>
    </operation>
    <operation name="sendMimeTextPlain">
      <soap:operation soapAction=""/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body part="message" use="literal" namespace="http://org.jboss.ws/samples/swa"/>
          </mime:part>
          <mime:part>
            <mime:content part="mimepart" type="text/plain"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/samples/swa"/>
      </output>
    </operation>
    <operation name="sendMimeMultipart">
      <soap:operation soapAction=""/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body part="message" use="literal" namespace="http://org.jboss.ws/samples/swa"/>
          </mime:part>
          <mime:part>
            <mime:content part="mimepart" type="multipart/*"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/samples/swa"/>
      </output>
    </operation>
    <operation name="sendMimeTextXML">
      <soap:operation soapAction=""/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body part="message" use="literal" namespace="http://org.jboss.ws/samples/swa"/>
          </mime:part>
          <mime:part>
            <mime:content part="mimepart" type="text/xml"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/samples/swa"/>
      </output>
    </operation>
    <operation name="sendMimeApplicationXML">
      <soap:operation soapAction=""/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body part="message" use="literal" namespace="http://org.jboss.ws/samples/swa"/>
          </mime:part>
          <mime:part>
            <mime:content part="mimepart" type="application/xml"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.ws/samples/swa"/>
      </output>
    </operation>
  </binding>

  <service name="Attachment">
    <port name="AttachmentPort" binding="tns:AttachmentBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
