modules/testsuite/shared-tests/src/test/resources/jaxrpc/samples/jsr109pojo/rpclit/WEB-INF/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='TestService' targetNamespace='http://org.jboss.ws/samples/jsr109pojo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.ws/samples/jsr109pojo/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws/samples/jsr109pojo' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.ws/samples/jsr109pojo/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.ws/samples/jsr109pojo/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='SimpleUserType'>
    <sequence>
     <element name='a' type='int'/>
     <element name='b' type='int'/>
    </sequence>
   </complexType>
  </schema>
 </types>
 <message name='JaxRpcTestService_echoSimpleUserType' xmlns='http://schemas.xmlsoap.org/wsdl/'>
  <part name='String_1' type='xsd:string'/>
  <part name='SimpleUserType_2' type='ns1:SimpleUserType'/>
 </message>
 <message name='JaxRpcTestService_echoSimpleUserTypeResponse'>
  <part name='result' type='ns1:SimpleUserType'/>
 </message>
 <message name='JaxRpcTestService_echoString'>
  <part name='String_1' type='xsd:string'/>
  <part name='String_2' type='xsd:string'/>
 </message>
 <message name='JaxRpcTestService_echoStringResponse'>
  <part name='result' type='xsd:string'/>
 </message>
 <portType name='JaxRpcTestService'>
  <operation name='echoSimpleUserType' parameterOrder='String_1 SimpleUserType_2'>
   <input message='tns:JaxRpcTestService_echoSimpleUserType'/>
   <output message='tns:JaxRpcTestService_echoSimpleUserTypeResponse'/>
  </operation>
  <operation name='echoString' parameterOrder='String_1 String_2'>
   <input message='tns:JaxRpcTestService_echoString'/>
   <output message='tns:JaxRpcTestService_echoStringResponse'/>
  </operation>
 </portType>
 <binding name='JaxRpcTestServiceBinding' type='tns:JaxRpcTestService'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echoSimpleUserType'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/samples/jsr109pojo' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/samples/jsr109pojo' use='literal'/>
   </output>
  </operation>
  <operation name='echoString'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/samples/jsr109pojo' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/samples/jsr109pojo' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='TestService'>
  <port binding='tns:JaxRpcTestServiceBinding' name='JaxRpcTestServicePort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>