modules/testsuite/shared-tests/src/test/resources/jaxws/jbws2449/META-INF/wsdl/test.wsdl

<definitions name='EndpointService' targetNamespace='http://org.jboss.ws/jbws2449'
                                    xmlns='http://schemas.xmlsoap.org/wsdl/'
                                    xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
                                    xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
                                    xmlns:tns='http://org.jboss.ws/jbws2449'
                                    xmlns:xsd='http://www.w3.org/2001/XMLSchema'
                                    xmlns:foo='http://foo.org/foo'>
 <types>
  <xs:schema targetNamespace='http://org.jboss.ws/jbws2449' version='1.0' xmlns:tns='http://org.jboss.ws/jbws2449' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='echo' type='tns:echo'/>
   <xs:element name='echoResponse' type='tns:echoResponse'/>
   <xs:complexType name='echo'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='echoResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='Endpoint_echo'>
  <part element='tns:echo' name='echo'></part>
 </message>
 <message name='Endpoint_echoResponse'>
  <part element='tns:echoResponse' name='echoResponse'></part>
 </message>
 <portType name='Endpoint'>
  <operation name='echo' parameterOrder='echo'>
   <input message='tns:Endpoint_echo'></input>
   <output message='tns:Endpoint_echoResponse'></output>
  </operation>
 </portType>
 <binding name='EndpointBinding' type='tns:Endpoint'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <foo:bar wsdl:required="true"/>
  <operation name='echo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='EndpointService'>
  <port binding='tns:EndpointBinding' name='EndpointPort'>
   <soap:address location='http://127.0.0.1:@add_int(port-offset.shared-tests.jboss,8080)@/jaxws-jbws2449'/>
  </port>
 </service>
</definitions>
