modules/testsuite/cxf-tests/src/test/resources/jaxws/cxf/interop/wstrust10/META-INF/wsdl/WsTrustAsym_policy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://InteropBaseAddress/interop" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" targetNamespace="http://InteropBaseAddress/interop">
    <wsdl:types>
        <xsd:schema targetNamespace="http://InteropBaseAddress/interop/Imports">
            <xsd:import schemaLocation="http://131.107.72.15/Security_Federation_FederatedService_Indigo/Asymmetric.svc?xsd=xsd0" namespace="http://xmlsoap.org/Ping"/><xsd:import schemaLocation="http://131.107.72.15/Security_Federation_FederatedService_Indigo/Asymmetric.svc?xsd=xsd1" namespace="http://InteropBaseAddress/interop"/>
            <xsd:import schemaLocation="http://131.107.72.15/Security_Federation_FederatedService_Indigo/Asymmetric.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PingRequest">
        <wsdl:part xmlns:q1="http://xmlsoap.org/Ping" name="Ping" element="q1:Ping"/>
    </wsdl:message>
    <wsdl:message name="PingResponse">
        <wsdl:part xmlns:q2="http://xmlsoap.org/Ping" name="PingResponse" element="q2:PingResponse"/>
    </wsdl:message>
    <wsdl:message name="IPingService_echo_InputMessage">
        <wsdl:part name="parameters" element="tns:echo"/>
    </wsdl:message>
    <wsdl:message name="IPingService_echo_OutputMessage">
        <wsdl:part name="parameters" element="tns:echoResponse"/>
    </wsdl:message>
    <wsdl:portType name="IPingService">
        <wsdl:operation name="Ping">
            <wsdl:input wsaw:Action="http://xmlsoap.org/Ping" name="PingRequest" message="tns:PingRequest"/><wsdl:output wsaw:Action="http://xmlsoap.org/Ping" name="PingResponse" message="tns:PingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input wsaw:Action="http://InteropBaseAddress/interop/echo" message="tns:IPingService_echo_InputMessage"/><wsdl:output wsaw:Action="http://InteropBaseAddress/interop/echo" message="tns:IPingService_echo_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
